{% extends 'base.html' %}
{% block title %}
	Article detail
{% endblock %}

{% block content %}
	<h1>{{ article.title }}</h1>
    <hr>
    <h4>by {{ article.author }} at {{ article.date }}</h4>
    <p>
      {{ article.body }}
    </p>
    <hr>
    <ul>
      {% for comment in article.comments.all %}
      	   <li>
           <b>{{ comment.writer }}</b>  |  {{ comment.comment }}
           </li>
      {% endfor %}
    </ul>
        
{% if user.is_authenticated %}
	    <form action="" method="post">
      {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" value="Comment">
    </form>
{% endif %} 
    
         {% if user.is_authenticated and article.author == user %}
            	<a href="{% url 'article_update' article.id %}">Edit</a> | <a href="{% url 'article_delete' article.id %}">Delete</a>
                 | <a href="{% url 'article_detail'  article.id %}">info</a>
            {% endif %} 
{% endblock %}