{% extends 'base.html' %}

{% block title %}
	Articles list
{% endblock %}

{% block content %}
	<h1>Article list</h1>
    <hr>
    <ul>
    {% for article in articles %}
    	<li> {{ article }}
            <br>
           
            {% if user.is_authenticated and article.author == user %}
            	<a href="{% url 'article_update' article.id %}">Edit</a> | <a href="{% url 'article_delete' article.id %}">Delete</a>
                 | <a href="{% url 'article_detail'  article.id %}">info</a>
            {% endif %} 
        
        <hr>
        </li>
    {% endfor %}
    </ul>
{% endblock %}


